body, nav, section, footer {
    height: auto;
}

section {
    height: auto;
    background-color: rgb(123, 16, 165); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(29, 7, 109) , rgb(13, 8, 58));
}

.answers {
    background-color: rgb(29, 7, 109);
}

.question-border {
    border:4px solid;
    border-radius: 15px;
}

.answer-border {
    border:3px solid;
    border-radius: 15px;
}